<template>
  <div class="mx-3 my-3">
    <h2>Exercises</h2>
    <b-button @click="refresh" class="mb-2">Refresh</b-button>
    <b-table v-if="customer" :items="customer.orders" />
    
    Show Progress:
    <div style="display: flex; flex-direction: column;">
      <a 
      v-for="c, i in customer.orders"
      :key="i"
      :href="'exercise/' + c['_id']">
        {{c["name"]}}
      </a>
    </div>

    <h2>Add Exercise</h2>
    <b-form-input placeholder="Exercise Name" v-model="exerciseName"/>
    <div class="mt-2">
      <b-button @click="save">Submit</b-button>
    </div>

  </div>
</template>

<script setup lang="ts">
import { watch, ref, inject, Ref } from 'vue'
import { CustomerWithOrders } from "../../../server/data"


const exerciseName: Ref<string> = ref("")

const customer: Ref<CustomerWithOrders | null> = ref(null)
const user: Ref<any> = inject("user")!

const draftOrderIngredients: Ref<string[]> = ref([])
const possibleIngredients: Ref<string[]> = ref([])

// async function refresh() {
//   possibleIngredients.value = await (await fetch("/api/possible-ingredients")).json()

//   if (user.value) {
//     customer.value = await (await fetch("/api/customer")).json()
//     draftOrderIngredients.value = (await (await fetch("/api/customer/draft-order")).json())?.ingredients || []
//   }
// }
async function refresh() {
  // try {
  //   const ingredientsResponse = await fetch("/api/possible-ingredients");
  //   if (!ingredientsResponse.ok) {
  //     throw new Error('Failed to fetch possible ingredients');
  //   }
  //   possibleIngredients.value = await ingredientsResponse.json();
  // } catch (error) {
  //   console.error(error);
  //   alert('An error occurred while fetching possible ingredients.');
  // }

  if (user.value) {
    try {
      const customerResponse = await fetch("/api/customer/exercises");
      if (!customerResponse.ok) {
        throw new Error('Failed to fetch customer data');
      }
      // console.log(await (customerResponse.json()))
      customer.value = await customerResponse.json();

      const draftResponse = await fetch("/api/customer/draft-order");
      if (!draftResponse.ok) {
        throw new Error('Failed to fetch draft order');
      }
      draftOrderIngredients.value = (await draftResponse.json())?.ingredients || [];
    } catch (error) {
      console.error(error);
      alert('An error occurred while fetching customer data.');
    }
  }
}
watch(user, refresh, { immediate: true })

async function save() {
  console.log(exerciseName.value)
  await fetch(
    "/api/customer/draft-exercise",
    {
      headers: {
        "Content-Type": "application/json",
      },
      method: "POST",
      body: JSON.stringify({ 
        name: exerciseName.value, 
        weight: null, 
        reps: null 
      })
    }
  )
}

async function submit() {
  // await fetch(
  //   "/api/customer/submit-draft-order",
  //   { method: "POST" }
  // )
  // await refresh()
}
</script>