<!-- Copied from https://vue-chartjs.org/guide/#chart-with-api-data -->

<template>
  <div class="container">
    <Line v-if="loaded" :data="chartData" />
  </div>
</template>

<script>
import { Line } from 'vue-chartjs'
import {
  Chart as ChartJS,
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
} from 'chart.js'

ChartJS.register(
  CategoryScale,
  LinearScale,
  PointElement,
  LineElement,
  Title,
  Tooltip,
  Legend
)

export default {
  name: 'LineChart',
  components: { Line },
  props: {
    exerciseId: {
      
    }
  },
  data: () => ({
    loaded: false,
    chartData: null
  }),
  async mounted () {
    this.loaded = false

    try {
      // console.log(await (await fetch('/api/userlist')).json())
      // const userlist = await (await fetch('/api/userlist')).json()
      
      let allWorkouts = await (await fetch("/api/customer/workouts")).json()
      let x = []
      let y = []
      // console.log(allWorkouts)
      allWorkouts.orders.forEach(element => { // for each workout
          let z = element.exercises.filter(element3 => element3['_id'].toString() === this.exerciseId).reduce((accumulator, current) => Math.max(accumulator, (current.weight || 0)), 0)
          if (z != 0) {
            x.push(element.date)
            y.push(z)
          }
      });
      
      this.chartData = {
        labels: x,
        datasets: [{
          data: y
        }]
      }

      this.loaded = true
    } catch (e) {
      console.error(e)
    }
  }
}
</script>