<template>
  <!-- <script src='https://cdn.plot.ly/plotly-2.31.1.min.js'></script> -->
  <div ref=“test”></div>
  
</template>

<script setup lang="ts">

import { Workout } from '../../../server/data';
import { reactive, ref, toRaw } from 'vue';
import { onMounted, ref } from 'vue';
import Plotly, { Root } from 'plotly.js-dist'

const test = ref<HTMLDivElement>()
let data = [{
            x: [1, 2, 3, 4, 5],
            y: [1, 2, 4, 8, 16] }]
onMounted(()=>{    
    Plotly.newPlot( test.value, data);
})

/*
interface Props {
    exerciseId?: string
  }

// default values for props
const props = withDefaults(defineProps<Props>(), {
  exerciseId: null,
})

// const exerciseData = ref({
//   labels: ['a', 'b'],
//   datasets: [1, 2]
// })

async function getData(exerciseId: string) {
    // let allExercises = await (await fetch("/api/customer/exercises")).json();
    let allWorkouts: Workout[] = await (await fetch("/api/customer/workouts")).json();
    let x: Date[] = []
    let y: number[] = []
    // console.log(allWorkouts)
    allWorkouts.orders.forEach(element => { // for each workout
        let z = element.exercises.filter(element3 => element3['_id'].toString() === exerciseId).reduce((accumulator, current) => Math.max(accumulator, (current.weight || 0)), 0)
        if (z != 0) {
          x.push(element.date)
          y.push(z)
        }
    });
    // console.log(toRaw(exerciseData))
    // console.log(JSON.stringify(exerciseData))
    
}

const exerciseData = await getData(props.exerciseId)
*/
</script>