<template>

    <div class="mx-3 my-3">

        

        <b-jumbotron :header="customer['name']"/>

        <div class="mt-2">
            <b-button @click="refresh">Refresh</b-button>
        </div>

        <strong>Sets</strong>
        <b-row style="width: 50%" v-for="c, i in customer['exercises']" class="input-group">
            <b-col>{{ c['name']}}</b-col>
            <b-col sm="4"><b-form-input size="sm" v-model="allWeights.state[i].value" :id="'weights'+i"/></b-col>
            <b-col>Lbs.</b-col>
            <b-col sm="4"><b-form-input size="sm" v-model="allReps.state[i].value" :id="'reps'+i"/></b-col>
            <b-col>Reps</b-col>
        </b-row>


        <div>
            <b-dropdown id="dropdown-1" text="Dropdown Button" class="m-md-2">
                <b-dropdown-item-button v-for="c, i in exercises" key="i" @click="buttonPress(c)">
                    {{c["name"]}}
                </b-dropdown-item-button>
            </b-dropdown>
        </div>


        <div class="mt-2">
            <b-button @click="save">Save</b-button>
        </div>

        <div class="mt-2">
            <b-button @click="debug">Debug</b-button>
        </div>
    </div>
</template>
  
  <script setup lang="ts">
  import { watch, ref, inject, Ref, reactive} from 'vue'
  import { CustomerWithOrders, Workout } from "../../../server/data"

  interface Props {
    workoutId?: string
  }

// default values for props
  const props = withDefaults(defineProps<Props>(), {
    workoutId: null,
  })

  const customer = reactive({})
  const user: Ref<any> = inject("user")!
  const exercises = ref(null)

  const allWeights = reactive({state: []})
  const allReps = reactive({state: []})
  
  async function refresh() {
  
    if (user.value) {
      try {
        const customerResponse = await fetch('/api/customer/workout/' + props.workoutId!);
        if (!customerResponse.ok) {
          throw new Error('Failed to fetch customer data');
        }
        let resp = await customerResponse.json()
        customer['_id'] = resp['_id']
        customer['name'] = resp['name']
        customer['date'] = resp['date']
        customer['exercises'] = resp['exercises']
        
        allWeights.state.splice(0, allWeights.state.length)
        resp['exercises'].forEach(element => {
            allWeights.state.push(ref(element.weight))
        });
        allReps.state.splice(0, allReps.state.length)
        resp['exercises'].forEach(element => {
            allReps.state.push(ref(element.reps))
        });
        // console.log(allWeights)
        customer['userId'] = resp['userId']
        // console.log(customer)
  
        // const draftResponse = await fetch("/api/customer/draft-order");
        // if (!draftResponse.ok) {
        //   throw new Error('Failed to fetch draft order');
        // }
        // draftOrderIngredients.value = (await draftResponse.json())?.ingredients || [];

        const exerciseResponse = await fetch("/api/customer/exercises");
        if (!exerciseResponse.ok) {
            throw new Error('Failed to fetch customer data');
        }
        // console.log(await (customerResponse.json()))
        exercises.value = (await exerciseResponse.json())["orders"];
      } catch (error) {
        console.error(error);
        alert('An error occurred while fetching customer data.');
      }
    }
  }
  watch(user, refresh, { immediate: true })
  
  async function save() {
    for (let i = 0; i < customer.exercises.length; i++) {
        console.log("Index:", i);
        console.log("allWeights:", allWeights.state[i]);
        console.log("allReps:", allReps.state[i]);
        console.log("Customer.exercises:", customer.exercises)
        let a = allWeights.state[i].value
        let b = allReps.state[i].value
        console.log("a:", a)
        console.log("b:", b)
        // customer.exercises[i].weight = allWeights.state[i].value
        // customer.exercises[i].reps = allReps.state[i].value
        customer.exercises[i].weight = a.toString()
        customer.exercises[i].reps = b.toString()
        // tweights.push(allWeights.state[i].value)
        // treps.push(allReps.state[i].value)
        console.log("Customer.exercises:", customer.exercises)
    }

    await fetch(
      "/api/workout/update/:workoutId",
      {
        headers: {
          "Content-Type": "application/json",
        },
        method: "PUT",
        body: JSON.stringify({ ...customer })
      }
    )
  }
  
  async function submit() {
    // await fetch(
    //   "/api/customer/submit-draft-order",
    //   { method: "POST" }
    // )
    // await refresh()
  }

  function buttonPress(c) {
    allWeights.state.push(ref(null))
    allReps.state.push(ref(null))
    customer.exercises.push(JSON.parse(JSON.stringify(c)))
  }

  function debug() {
    console.log(allWeights)
    console.log(allReps)
    console.log(customer)
  }

  </script>