<template>
    <div class="mx-3 my-3">
      Hello, world!!!
      <h2>Workouts</h2>
      <b-button @click="refresh" class="mb-2">Refresh</b-button>
      <b-table v-if="customer" :items="customer.orders">
        <b-button></b-button>
      </b-table>

      <div style="display: flex; flex-direction: column;">
        <!-- <b-button 
            v-for="c, i in customer.orders"
            :key="i"
            >
            {{c["name"] + " on " + c["date"]}}
        </b-button> -->
        <a 
        v-for="c, i in customer.orders"
        :key="i"
        :href="'workout/' + c['_id']">
          {{c["name"] + " on " + c["date"]}}
        </a>
      </div>

      
      
      <!-- Check the ingredients you want:
      <b-form-checkbox-group v-model="draftOrderIngredients" :options="possibleIngredients" />
      <div class="mt-2">
        <b-button @click="save">Save</b-button>
      </div>
      <div class="mt-2">
        <b-button @click="submit">Submit</b-button>
        Note: must save before submitting
      </div> -->
      <b-form-input v-model="exerciseName" placeholder="Workout name"/>
      <div class="mt-2">
        <b-button @click="save">New Workout</b-button>
      </div>
    </div>
  </template>
  
  <script setup lang="ts">
  import { watch, ref, inject, Ref } from 'vue'
  import { CustomerWithOrders } from "../../../server/data"
  
  
  const exerciseName: Ref<string> = ref("")
  
  const customer: Ref<CustomerWithOrders | null> = ref(null)
  const user: Ref<any> = inject("user")!
  
  const draftOrderIngredients: Ref<string[]> = ref([])
  const possibleIngredients: Ref<string[]> = ref([])
  
  async function refresh() {
  
    if (user.value) {
      try {
        const customerResponse = await fetch("/api/customer/workouts");
        if (!customerResponse.ok) {
          throw new Error('Failed to fetch customer data');
        }
        // console.log(await (customerResponse.json()))
        customer.value = await customerResponse.json();
  
        const draftResponse = await fetch("/api/customer/draft-order");
        if (!draftResponse.ok) {
          throw new Error('Failed to fetch draft order');
        }
        draftOrderIngredients.value = (await draftResponse.json())?.ingredients || [];
      } catch (error) {
        console.error(error);
        alert('An error occurred while fetching customer data.');
      }
    }
  }
  watch(user, refresh, { immediate: true })
  
  async function save() {
    console.log(exerciseName.value)
    await fetch(
      "/api/customer/draft-workout",
      {
        headers: {
          "Content-Type": "application/json",
        },
        method: "POST",
        body: JSON.stringify({ 
          name: exerciseName.value,  
          exercises: []
        })
      }
    )
  }
  
  async function submit() {
    // await fetch(
    //   "/api/customer/submit-draft-order",
    //   { method: "POST" }
    // )
    // await refresh()
  }

  async function newWorkout() {

  }
  </script>